In [1]:
import os
import pandas as pd
import pickle

In [2]:
pkl_files=sorted([x for x in os.listdir('.') if 'SCNN_5_' in x and '500.pkl' in x and '_db1_' not in x])
pkl_files

['SCNN_5_cat_dog_horse_25_25_50_db34_500.pkl',
 'SCNN_5_cat_dog_horse_25_50_25_db12_500.pkl',
 'SCNN_5_cat_dog_horse_333_334_333_db45_500.pkl',
 'SCNN_5_cat_dog_horse_40_40_20_db51_500.pkl',
 'SCNN_5_cat_dog_horse_45_45_10_db51_500.pkl',
 'SCNN_5_cat_dog_horse_475_475_05_db51_500.pkl',
 'SCNN_5_cat_dog_horse_50_25_25_db23_500.pkl']

In [3]:
tr_dict = dict()
te_dict = dict()
cat_list = ['cat', 'dog','horse']

In [4]:
for curr in pkl_files:
    temp = pickle.load(open(curr,'r'))
    key = curr[7:-8]
    tr_dict[key] = [temp['train_conf_matrix'][x,x] for x in range(temp['train_conf_matrix'].shape[0])]
    te_dict[key] = [temp['test_conf_matrix'][x,x] for x in range(temp['test_conf_matrix'].shape[0])]

In [5]:
tr_dict

{'cat_dog_horse_25_25_50_db34': [0.9878357830714648,
  0.9361702127659575,
  0.9969574036511156],
 'cat_dog_horse_25_50_25_db12': [0.9896157840083074,
  0.9761038961038961,
  0.9875259875259875],
 'cat_dog_horse_333_334_333_db45': [0.9535477284328739,
  0.9638308711156394,
  0.9943791517629024],
 'cat_dog_horse_40_40_20_db51': [0.9811416921508664,
  0.9551478083588175,
  0.9796126401630989],
 'cat_dog_horse_45_45_10_db51': [0.9592252803261978,
  0.9806320081549439,
  0.9908256880733946],
 'cat_dog_horse_475_475_05_db51': [0.9867414584395716,
  0.9551249362570118,
  0.9855769230769231],
 'cat_dog_horse_50_25_25_db23': [0.9909638554216867,
  0.9718875502008032,
  0.9889558232931727]}

In [6]:
train_df = pd.DataFrame.from_dict(tr_dict).T
train_df.columns = cat_list
train_df

                                     cat       dog     horse
cat_dog_horse_25_25_50_db34     0.987836  0.936170  0.996957
cat_dog_horse_25_50_25_db12     0.989616  0.976104  0.987526
cat_dog_horse_333_334_333_db45  0.953548  0.963831  0.994379
cat_dog_horse_40_40_20_db51     0.981142  0.955148  0.979613
cat_dog_horse_45_45_10_db51     0.959225  0.980632  0.990826
cat_dog_horse_475_475_05_db51   0.986741  0.955125  0.985577
cat_dog_horse_50_25_25_db23     0.990964  0.971888  0.988956

In [7]:
test_df = pd.DataFrame.from_dict(te_dict).T
test_df.columns = cat_list
test_df

                                  cat    dog  horse
cat_dog_horse_25_25_50_db34     0.855  0.645  0.871
cat_dog_horse_25_50_25_db12     0.734  0.811  0.847
cat_dog_horse_333_334_333_db45  0.760  0.811  0.923
cat_dog_horse_40_40_20_db51     0.806  0.815  0.820
cat_dog_horse_45_45_10_db51     0.769  0.854  0.727
cat_dog_horse_475_475_05_db51   0.837  0.791  0.624
cat_dog_horse_50_25_25_db23     0.874  0.710  0.802

In [8]:
acc_dict = dict()
for curr in pkl_files:
    temp = pickle.load(open(curr,'r'))
    key = curr[7:-8]
    acc_dict[key] = [temp['train_acc'][1], temp['test_acc'][1]]

In [9]:
acc_df = pd.DataFrame.from_dict(acc_dict,).T
acc_df.columns=['Training', 'Testing']
acc_df

                                Training   Testing
cat_dog_horse_25_25_50_db34     0.977192  0.790333
cat_dog_horse_25_50_25_db12     0.982338  0.797333
cat_dog_horse_333_334_333_db45  0.970573  0.831333
cat_dog_horse_40_40_20_db51     0.970438  0.813667
cat_dog_horse_45_45_10_db51     0.972018  0.783333
cat_dog_horse_475_475_05_db51   0.971671  0.750667
cat_dog_horse_50_25_25_db23     0.985693  0.795333